/*
decloration block

selector{
  property: value;
  property2: value;
}
*/

body{
  background-color: blue;
  color: white;
}

nav{
  height: 600px;
  width: 200px;
  float: left;
  padding: 5px;
  line-height: 30px;
}

footer{
  text-allign: center;
  margin-right: 200px;
}

#{
  margin-right: 200px;
  width: 400px;
}
